[Unit]
Description=mbsync query timer [test]
ConditionPathExists=%h/.mbsyncrc

[Timer]
OnBootSec=1m
OnUnitInactiveSec=1h
Unit=mbsync@test.service

[Install]
WantedBy=default.target

